@using Microsoft.AspNetCore.Identity
@using FoodBank.Web.Areas.Identity.Data;

@inject SignInManager<FoodBankUser> SignInManager
@inject UserManager<FoodBankUser> UserManager

@{
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";

}
<h1 align="center" class="display-4" style="color:green; font-family:'Berlin Sans FB'; font-size:150px" ;><b>Food Bank Inc.<i class="fa fa-caret-down"></i></b></h1>
<hr style="height:2px;border:none;color:#e91e63;background-color:#e91e63;" />
<div class="row">
    <div class="column col-md-4 btn-warning" type="button">
        <a class="btn-primary" asp-area="" asp-controller="Market" asp-action="ShopNow"><img src="~/css/ShopNow.jpg" /></a>
    </div>

    <div class="column col-md-4 btn-warning" type="button">
        <a class="btn-primary" asp-area="" asp-controller="Market" asp-action="Discounts"><img src="~/css/discount.jpg" /></a>
    </div>
    <div class="column col-md-4 btn-warning" type="button">
        <a class="btn-primary" asp-area="" asp-controller="Market" asp-action="AboutUs"><img src="~/css/aboutUs.jpg" /></a>
    </div>
</div>
<hr style="height:2px;border:none;color:#e91e63;background-color:#e91e63;" />

