@using Microsoft.AspNetCore.Identity
@using FoodBank.Web.Areas.Identity.Data;

@inject SignInManager<FoodBankUser> SignInManager
@inject UserManager<FoodBankUser> UserManager

@{
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";

}
@if (this.User.IsInRole("Admin"))
{
    <h1>Authorized user Index! Hello admin- @User.Identity.Name!</h1>
}
else
{
    <h1>Authorized user Index! Hello @User.Identity.Name!</h1>
}
