@{
    ViewData["Title"] = "Home Page";
}
<style>
    .vl {
        border-left: 6px solid green;
        height: 500px;
    }
</style>
<div class="text-center">
    <h1 class="display-4" style="color:green; font-family:'Berlin Sans FB'; font-size:150px"><b>Food Bank Inc.</b></h1>
    <hr style="height:5px;border:none;color:#e91e63;background-color:#e91e63;" />
    <h2 size="+2">The quality, really matters</h2>
</div>

<img src="~/css/supermarket.jpg" />
<h3 align="center" size="+2" >Check our special offers <a asp-area="" asp-controller="Products" asp-action="Discount"><b>Here</b></a> </h3>
<hr style="height:2px;border:none;color:#e91e63;background-color:#e91e63;" />

