@using Microsoft.AspNetCore.Identity
@using FoodBank.Web.Areas.Identity.Data;

@inject SignInManager<FoodBankUser> SignInManager
@inject UserManager<FoodBankUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="MyProfile"><b>My profile</b></a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark"><b>Logout</b></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><b>Register</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><b>Login</b></a>
    </li>
}
</ul>